@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');
.home {
width: 65%;
    padding: 70px;
    margin-left: 35%;
    border-left: 1px solid #464866 ;
    min-height: 100vh;
    height:175%;
}
@media  (max-width: 1050px) {
    .home
{
    width: auto;
    padding: 20px 20px;
    margin-left: 0;
    border-left: none;
    min-height: auto;
    border-top: 10px solid black;
}}
.head {
font-size: 45px;
    font-family: "Montserrat-Bold";
    border-bottom: 2px solid #2E9CCA ;
    color:black;
}
.content {
line-height: 1.75;
    color:#000 ;
    
}
    .img {
  padding: 5px;
  width: 100px;
  margin-top:-10px;
}
.a{font-size: 12px;
    color: #2E9CCA ;
    text-transform: uppercase;
    font-weight: bold;
    margin-left:100px;
}

.a1{position:absolute;
    float:left;
    
}
.li1{margin-bottom:30px;
    padding-top: 10px;
}
.p1{margin-left :100px;
    font-size: 10px;
}
.projects{ margin-top:50px;
    padding-top:50px;
    border-top: 3px solid #2E9CCA;
}
.carousel{
    width: 300px;
    height: 300px;
    
}
.alice{
    width:50px;
}