.h3{text-transform: uppercase;
    font-size: 45px;
    font-family: "Montserrat-Bold";
    text-align: center;
    margin-bottom: 12px;
    color: white    ;
}
.p{
    text-align: left;
    padding: 0 10px;
    margin-bottom: 55px;
    line-height: 1.8;
    color:#fff ;
}
.label{
    position: relative;
    display: block;
    margin-bottom: 48px;
}
.label span{
    font-size: 15px;
    color: #00ade6;
    position: absolute;
    top: 11px;
    transition: all .2s ease;
    transform-origin: 0 0;
    cursor: text;
}
.text  {
    border: none;
    border-bottom: 2px solid #00ade6;
    
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    background: none;
    font-family: "Montserrat-SemiBold";
    color:white;
}
.text:focus + span, .text:valid + span{
    transform: translateY(-25px) scale(0.8);
}
.text:focus {    border-bottom: 2px solid #fff;
}

.border{
    height: 2px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 41px;
    transform: scaleX(0);
    transition: all .15s ease;
    background: #fff;
}
.contact {
width: 65%;
    padding: 70px;
    margin-left: 35%;
    border-left: 1px solid #464866;
    min-height: 100vh;
    height: 160%;
    background-color:#fff;
    
}
@media  (max-width: 1050px) {
    .contact
{
    width: auto;
    padding: 20px 20px;
    margin-left: 0;
    border-left: none;
    min-height: auto;
}}
.button{
    margin: auto;
    margin-top: 60px;
    margin-bottom:30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .75em;
    width: 162px;
    height: 51px;
    border: 2px solid  white ;
    text-transform: uppercase;
    color:white;
    font-family: "Montserrat-SemiBold";
  background: linear-gradient(to right, #0d99d7 , #0d99d7 );
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s 0s;
}
.button:hover {
    background-size: 100% 100%;
    color:#fff;
    border:none
}
.button:focus { background-color: #464866;
}


.background{
    max-width: 758px;
    margin: auto;
    background: #000  ;
    border: 10px solid #0d99d7;
    padding: 50px 99px 87px;}
    .textarea  {
    border: none;
    border-bottom: 2px solid #00ade6;
    
    display: block;
    width: 100%;
    height: 70px;
    font-size: 15px;
    background: none;
    font-family: "Montserrat-SemiBold";
    color:white;
}
.textarea:focus + span, .textarea:valid + span{
    transform: translateY(-25px) scale(0.8);
}
.textarea:focus {    border-bottom: 2px solid #fff;
}