@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

.project {
width: 65%;
    padding: 70px;
    margin-left: 35%;
    border-left: 1px solid #379683;
    min-height: 100vh;
}
.head {
font-family: 'Heebo', sans-serif;}
.content {
font-family: 'Oswald', sans-serif;line-height: 1.75;}
    .date{font-size: 12px;
    color: #999;
    margin: 0;}
    .img { 
	max-width: 500px;
	max-height: 500px;
	}
	