.header {
padding: 35px ;
background-color: #eff4ff;
float: left;
width: 35%;
}
.div1 {
    margin: 0 auto;
    padding: 0 5px;
    max-width: 1040px;
}
.h1 {
	margin: 0;
    font-weight: 400;
    font-size: 37px;
    color: #6772e5;
    text-align: left;
    margin-top: 0;
    margin-bottom: 27px;
    line-height: 48px;
    border-bottom: 3px solid #eee;
    padding-bottom: 27px;
        display: block;

}
.p {
	max-width: 500px;
    margin: 15px 0 10px 0;
    font-size: 20px;
    color: #798fb5;
    line-height: 1.7;
}

	:any-link {
    cursor: pointer;
    text-decoration: none;
    color: #6772e5;
    position: relative;
    white-space: nowrap;

}
a:hover {
  color: #000;
}
a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
p{display: block;
    
   }
   ul{list-style-type: none;}
   .h6{font-size: 14px;
    color: #919191;
    text-transform: uppercase;
    font-weight: bold;
    margin: 40px 0 15px 0;
    display: block;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;}
    .ul1{
      padding-left:-40;
    }